<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instawham</title>
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar">
    <a class="logo" href="/">
      <h1>Instawham</h1>
    </a>
    <a href="/createpost" class="btn">Create post</a>
  </nav>
  <div hx-get='/posts' hx-swap='innerHTML' hx-trigger='load' hx-target='this' class="content-container">
  </div>
</body>

</html>
