<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signup</title>
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <form class="createpost" hx-post='/login' hx-target='#outcome' hx-swap='innerHTML'>
      <h3>Sign-in</h3>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <button type="submit" class="btn">Login</button>
      <a href="/signup">New? create an account</a>
    </form>

    <div id="outcome"></div>
  </div>
</body>

</html>
