{{define "postpage"}}
<div class='container'>
  <div class='createpost'>
    <h1>{{.post.Title}}</h1>
    <p>{{.post.Description}}</p>
    <p>author ID: {{.post.AuthorID}}</p>
  </div>
</div>
{{end}}
