{{define "posts"}}
{{range .posts}}
<div class="post">
  <h2 class='post-title'>{{.Title}}</h2>
  <p>{{.Description}}</p>
  <a class='btn' href='/posts/{{.ID}}' hx-boost='true' hx-target='#posts'>Read More</a>
</div>
{{end}}
{{end}}
